button {
    background-color: #6fb8ff;
    border: #6fb8ff;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 18px;
    transition: all 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #1E90FF;
    box-shadow: 3px 3px black;
  }



  